<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="./../css/index.css">
    <title>Conheça a Sphynx</title>
</head>

<body>

    <nav>
        <div class="nav-logo">
            <a href="#">
                <img src="./../assets/image/logoSphynx.png">
            </a>
        </div>

        <ul class="nav-links">
            <li class="link"><a href="#">Home</a></li>
            <li id="link1" class="link"><a href="#">Como funciona?</a></li>
            <li id="link2" class="link"><a href="#">Planos</a></li>
            <li id="link3" class="link"><a href="#">Contate-nos</a></li>
        </ul>
        <button class="btn" id="btn-login">Fazer Login</button>
    </nav>
 <section>
    <header class="container">
        <div class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <h4>Seu atendimento mais ágil e eficiente com chatbots inteligentes!</h4>
            <H1>Bem vindo! Somos a <span>Sphynx</span>, uma Startup que vai mudar seu negócio e automatizar sua comunicação.</H1>
            <p>
                
Nosso chatbot oferece atendimento rápido e eficiente, disponível 24/7, garantindo respostas precisas e maior satisfação do cliente. Integrado ao seu negócio, ele otimiza processos e melhora a experiência.
            </p>
            <button class="btn">VAMOS LÁ!</button>
        </div>
        <div class="image">
            <div class="hero-circle">
                <div class="hero-world"></div>
            </div>
            
        </div>
    </header>
</section>

    <section class="container">
        <h2 id = "func"class="header">ALGUMAS FUNCIONALIDADES</h2>
        <div class="features">
            <div class="card">
                <span><i class=""></i></span>
                <h4>Chatbot Inteligente</h4>
                <p>
                   Tenha um chatbot que auxilia no processo de comunicação com o cliente.
                </p>
                <a href="#">ver mais <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <span><i class="e"></i></span>
                <h4>Centraliza seus chats</h4>
                <p>
                    Tenha os seus chats de suas redes sociais centralizados em um lugar só.
                </p>
                <a href="#">Ver Mais <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <span><i class=""></i></span>
                <h4>Mais de um Usuário</h4>
                <p>
                    Use o Sphynx chat com mais de 1 usuário administrando!
                </p>
                <a href="#">Ver Mais <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="card">
                <span><i class=""></i></span>
                <h4>Dashboards</h4>
                <p>
                    Tenha dashboards com informações do seu uso, podendo tirar análises mais precisas o seu negócio.
                </p>
                <a href="#">Ver Mais <i class="ri-arrow-right-line"></i></a>
            </div>
        </div>
    </section>



    <section class="container">
        <h2 class="header">CONHEÇA NOSSOS PLANOS</h2>
        <p class="sub-header">
            Entenda qual preço de encaixa melhor nas suas necessidades.
        </p>
        <div class="pricing">
            <div class="card">
                <div class="content">
                    <h4>Standart</h4>
                    <h3>R$ 350,00 </h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        3 usuários
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Centralizador de chats
                    </p>
                </div>
                <button class="btn">Assinar</button>
            </div>
            <div class="card">
                <div class="content">
                    <h4>Sphynx Gold</h4>
                    <h3>R$ 700,00</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        7 usuários
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Ligações Web
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Centralizador de Chats
                    </p>
                </div>
                <button class="btn">Assinar</button>
            </div>
            <div class="card">
                <div class="content">
                    <h4>Sphynx Diamond</h4>
                    <h3>Entre em contato!</h3>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Usuários
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Centralizador de Chats
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Ligações Web
                    </p>
                    <p>
                        <i class="ri-checkbox-circle-line"></i>
                        Dashboards de Mensagens
                    </p>
                   
                </div>
                <button class="btn">Assinar</button>
            </div>
        </div>
    </section>

    <footer class="container1">
        <span class="blur"></span>
        <span class="blur"></span>
        <div class="column">
            <div class="logo">
                <img src="./../assets/image/logoSphynx.png" width="50">
            </div>
            <p>
                Nos acompanhem nas reces sociais!
            </p>
            <div class="socials">
                <a href="#"><i class="ri-youtube-line"></i></a>
                <a href="#"><i class="ri-instagram-line"></i></a>
                <a href="#"><i class="ri-twitter-line"></i></a>
            </div>
        </div>
        <div class="column">
            <h4>Empresa</h4>
            <a href="#">Negócios</a>
            <a href="#">Equipe</a>
            <a href="#">O que fazemos?</a>
        </div>
        <div class="column">
            <h4>Conheça-nos</h4>
            <a href="#">Blogs</a>
            <a href="#">Canais</a>
            <a href="#">Patrocinadores</a>
        </div>
        <div class="column">
            <h4>Contato</h4>
            <a href="#">Contate-nos</a>
            <a href="#">Política de Privacidade</a>
            <a href="#">Termos & Condições</a>
        </div>
    </footer>

    <div class="copyright">
        Copyright © 2024 Todos os direitos reservados a Sphynx.
    </div>


    <script src="./../js/index.js"></script>
</body>

</html>